.anticon {
  color: turquoise;
}

.drawer .ant-menu li.ant-menu-item {
  font-size: 1.5rem;
  color: turquoise;
}

.drawer .ant-menu li.ant-menu-item-selected,
.drawer .ant-menu li.ant-menu-item:hover {
  border-bottom: 1px solid turquoise;
  background-color: black;
}

.ant-menu-vertical {
  margin-top: 6rem;
}
