.anticon {
  color: turquoise;
}

.drawer .ant-menu li.ant-menu-item a {
  font-size: 1.5rem;
  color: turquoise;
}

.drawer .ant-menu li.ant-menu-item:hover {
  border-bottom: 1px solid turquoise;
  color: rgba(64, 224, 208, 0.404);
  background-color: black;
}

.ant-menu-vertical {
  margin-top: 6rem;
}
