.logo {
  float: left;
  color: turquoise;
  font-size: 1.5rem;
}

.container_fluid {
  background-color: black;
  height: 4.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.2s;
}

.container_fluid_scroll {
  background-color: rgba(0, 0, 0, 0.733);
  height: 4.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.2s;
}

.container_fluid .header .ant-menu li.ant-menu-item a {
  font-size: 1.5rem;
  color: turquoise;
}
.container_fluid_scroll .header .ant-menu li.ant-menu-item a {
  font-size: 1.5rem;
  color: turquoise;
}
.icon {
  font-size: 2rem;
  color: turquoise;
}

.ant-drawer-wrapper-body {
  background-color: black;
}

/* .container_fluid .header .ant-menu li.ant-menu-item-selected, */
.container_fluid .header .ant-menu li.ant-menu-item:hover {
  border-bottom: 3px solid turquoise !important;
}
/* .container_fluid .header .ant-menu li.ant-menu-item-selected a, */
.container_fluid .header .ant-menu li.ant-menu-item a:hover {
  color: rgba(64, 224, 208, 0.678) !important;
}
/* .container_fluid_scroll .header .ant-menu li.ant-menu-item-selected, */
.container_fluid_scroll .header .ant-menu li.ant-menu-item:hover {
  border-bottom: 3px solid turquoise !important;
}

/* .container_fluid_scroll .header .ant-menu li.ant-menu-item-selected a, */
.container_fluid_scroll .header .ant-menu li.ant-menu-item a:hover {
  color: rgba(64, 224, 208, 0.678) !important;
}

@media (max-width: 1168px) {
  .container_fluid .header .ant-menu li.ant-menu-item {
    display: none;
  }
  .container_fluid_scroll .header .ant-menu li.ant-menu-item {
    display: none;
  }
}
@media (min-width: 1168px) {
  .icon {
    display: none;
  }
}
