@import '~antd/dist/antd.css';

/* .App {
  background: url(https://images.unsplash.com/flagged/photo-1578571404073-3518632b3e93?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxwb3J0Zm9saW98ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
} */

.container_fluid .header .ant-menu li.ant-menu-item-selected,
.container_fluid .header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}
