@import '~antd/dist/antd.css';

.container_fluid .header .ant-menu li.ant-menu-item-selected,
.container_fluid .header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.App {
  overflow-x: hidden;
}

::selection {
  background: turquoise;
  /* color: red; */
}